.margin-left-xs {
  margin-left: $xs;
}

.margin-left-sm {
  margin-left: $sm;
}

.margin-left-md {
  margin-left: $md;
}

.margin-left-lg {
  margin-left: $lg;
}

.margin-left-xl {
  margin-left: $xl;
}
